{% for int in interfaces %}
no interface {{ trunk }}.{{ int.vlan_id }}
{% endfor %}
no access-list outsidein extended permit icmp any any
no access-list insidein extended permit icmp any any
no object network pat_ip
no object network inside