
{% for vrf in vrfs %}
vrf context {{ vrf.name }}
 description {{ vrf.desc }}
 {% for route in vrf.routes %}
 ip route {{ route.prefix }} {{ route.nexthop }}
 {% endfor %}
 rd {{ vrf.rd }}
  address-family ipv4 unicast
  route-target import {{ vrf.rt }}
  route-target export {{ vrf.rt }}
{% endfor %}