{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Network Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">Network Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Network Projects</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="storeMenu"
                                                 data-toggle="dropdown" aria-haspopup="true"
                                                 aria-expanded="false">Store</a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="{% url 'stores:store' "RTR" %} ">Routers</a>
                        <a class="dropdown-item" href="{% url 'stores:store' "SW" %} ">Switches</a>
                        <a class="dropdown-item" href="{% url 'stores:store' "SFP" %} ">SFPs</a>
                        <a class="dropdown-item" href="{% url 'stores:store' "CABLE" %} ">Cables</a>
                    </div>
                </li>

            </ul>

            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">{{ user.username }} {{ user.id }}</li>
                </ul>
                <ul><a href="{% url 'logout' %}" class="btn btn-outline-secondary">Log out</a>
                </ul>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
            {% endif %}

        </div>
    </div>
</nav>


<div class="container">

    {% block breadcrumb %}

    {% endblock %}

    {% block content %}
    {% endblock %}
</div>

</body>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>