<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
</head>
<body>

{% for interface_name, interface in int.items %}
      <form method="post" id="{{ interface_name }}">
        {% csrf_token %}
        <input type="hidden" value="{{ interface_name }}" name="interface_name" />
        <input type="hidden" value="{{ interface.is_enabled|yesno:'False,True' }}" name="enable" />
      </form>
      <tr>
        <td>{{ interface_name }}</td>
        <td>{{ interface.description }}</td>
        <td><input type="checkbox" {% if interface.is_enabled %}checked{% endif %}>&nbsp;</td>
        <td><input type="checkbox" {% if interface.is_up %}checked{% endif %}>&nbsp;</td>
        <td><button type="submit" form="{{ interface_name }}" value="Submit">Switch</button></td>
      </tr>
{% endfor %}
</body>
</html>